<table class="table">
  <thead>
    <th>Ambience</th>
    <th>Cleanliness</th>
    <th>Service</th>
    <th>Food</th>
  </thead>
  <tbody>
    <tr *ngFor="let rating of ratingInfo" class="value-section">
      <td>{{rating.ambience}}</td>
      <td>{{rating.cleanliness}}</td>
      <td>{{rating.service}}</td>
      <td>{{rating.food}}</td>
    </tr>
  </tbody>
  </table>
  <div class="slider-section">
    <app-slider [ratingValue]="getAverage('ambience')" [header]="'Ambience'" ></app-slider>
    <app-slider [ratingValue]="getAverage('cleanliness')"[header]="'Cleanliness'" ></app-slider>
    <app-slider [ratingValue]="getAverage('service')"[header]="'Service'" ></app-slider>
    <app-slider [ratingValue]="getAverage('food')" [header]="'Food'" ></app-slider>
    <app-slider [ratingValue]="getAverage('average')" [header]="'Total Average'" ></app-slider>
  </div>

