  <main class="main">
    <app-rating class="rating" (submitRating)="onRatingSubmit($event)"></app-rating>
    <app-display-rating class="display-rating" [ratingInfo] = "ratingData"></app-display-rating>
  </main>

