<form [formGroup]="hotelRating" (ngSubmit)="onSubmit(hotelRating)" class="form-section">
  <h3>Rate Hotel</h3>
    <app-input-card class="input-card" formControlName="ambience" label="Ambience"></app-input-card>
    <app-input-card class="input-card"  formControlName="cleanliness" label="Cleanliness"></app-input-card>
    <app-input-card class="input-card" formControlName="service" label="Service"></app-input-card>
    <app-input-card class="input-card" formControlName="food" label="Food"></app-input-card>
    <button class="submit-btn" [disabled]="hotelRating.invalid">SUBMIT</button>
</form>
