.form-section{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 3rem;
}
.submit-btn{
  border: 0;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 2px 2px 6px 2px #ccc;
  cursor: pointer;
}
.input-card{
  align-self: center;
  width: 100%;
}
