.form{
display: flex;
justify-content: space-between;
padding: 1rem;
border-radius: 4px;
box-shadow: 2px 2px 6px 2px #ccc;
/* width: 100%; */
align-items: center;
}
.input{
  border-radius: 4px;
  border: thin solid #ccc;
  padding: 0.25rem;
  width: 30%;
}
