<form class="form">
  <label for="this-input">{{label}}</label>
  <input
    type="number"
    id="this-input"
    class="input"
    [ngModel]="inputValue"
    [ngModelOptions]="{ standalone: true }"
    (ngModelChange)="onChange($event)"
    placeholder="0 - 10"
  />
</form>
